@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #10101E;
}

h2 {
    top: 0;
    font-family: 'Dancing Script', 'cursive';
    background: -webkit-linear-gradient(#009fff, #ec2f4b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 150px;
    letter-spacing: 0.2rem;
}


.datetime {
    color: #fff;
    background: #10101E;
    font-family: Orbitron, sans-serif;
    width: 800px;
    padding: 15px 10px;
    border: 3px solid #2E94E3;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
}

.datetime:hover {
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
}

.date {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time {
    font-size: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child) {
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child {
    background: #2E94E3;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}